.sub-page-header {

  h1{
    color: $main_color;
    max-width: 1600px;
    margin:0 auto;
    text-align: left;
    font-family: $font__main;
    font-size: 56px;
    margin-top: -16px;

  }

  h2{
    max-width:1600px;
    margin: 0 auto;
    color: $main_color;
    font-family: $font_script;
    font-size: 25px;
    padding-bottom: 10px;
  }
  h3 {
    color: $main_color;
    font-family: $font__main;
    font-size: 36px;

  }

  .sub-header-holder {

    border-bottom: 8px solid $main_color;
    width: 100%;
  }

  .sub-holder {
    max-width: 1600px;
    margin: 0 auto;
  }


}