@import url(//fonts.googleapis.com/css?family=Droid+Sans:400,700);
$font__header: 'Droid Sans', serif;
$font__main: 'Oswald', sans-serif;
$font_script: 'Rock Salt';
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;